*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashed-border{
    border: 2px black dashed;

}

.main-padding{
    padding: 50px 300px;
}

header nav{
    background-color: #add8e6;
    display: flex;
    align-items: center;
    padding: 30px 300px;
}

header nav ul{
    list-style: none;
    background-color: #daa520;
    padding: 10px;

}

header nav .logo{
    width: 25%;
}

header nav .nav-bar{
    display: flex;
    width: 50%;
    justify-content: center;
}

header nav .login{
    width: 25%;
    text-align: right;
}

header .jumbotron{
    background-color: #00008b;
    display: flex;
    justify-content: center;
}

header .jumbotron .jumbo-box{
    height: 400px;
    width: 900px;
    background-color: #ee82ee;
}