*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashed-border{
    border: 2px black dashed;

}

.main-padding{
    padding: 50px 300px;
}

a{
    text-decoration: none;
    color: black
}

header nav{
    background-color: #add8e6;
    display: flex;
    align-items: center;
    padding: 30px 300px;
}

header nav ul{
    list-style: none;
    background-color: #daa520;
    padding: 10px;

}

header nav .logo{
    width: 25%;
}

header nav .nav-bar{
    display: flex;
    width: 50%;
    justify-content: center;
}

header nav .login{
    width: 25%;
    text-align: right;
}

header .jumbotron{
    background-color: #00008b;
    display: flex;
    justify-content: center;
}

header .jumbotron .jumbo-box{
    height: 400px;
    width: 900px;
    background-color: #ee82ee;
}

main .news{
    display: flex;
}

main .news article{
    height: 550px;
    width: 60%;
    background-color: #1e90ff;
}

main .news aside{
    height: 550px;
    width: 40%;
    background-color: #ffc0cb;
}

main .news:nth-child(2),
main .poster{
    background-color: #d3d3d3;
}

main .news:nth-child(2) article{
    order: 1;
}

main .poster .poster-box{
    height: 1100px;
    background-color: #228b22;
}

footer{
    background-color: #23272a;
}

footer .footer-menu{
    border-bottom: 2px solid #a9a9a9;
    padding: 10px 300px 30px 300px;
}

footer .footer-menu .wrapper{
    display: flex;
}

footer .footer-menu .wrapper aside{
    height: 600px;
    background-color: #f08080;
    width: 30%;
}

footer .footer-menu .wrapper .menu-list{
    height: 600px;
    background-color: #20b2aa;
    width: calc(70% / 4);
    border-color: white;
}

footer .footer-nav{
    padding: 20px 300px 0 300px;
}

footer .footer-nav nav{
    background-color: #7fffd4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

footer .footer-nav nav a{
    background-color: #ffb6c1;
    padding: 10px;
}
